<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<div class="row">
  <form action="/editado/{{id}}" method="post">
      <div class="row">
        <div class="input-field col s6">
          <p>nome:</p>
          <input placeholder="{{nome}}" value="{{nome}}" type="text" class="validate">
        </div>
        <div class="input-field col s6">
          <p>email:</p>
          <input type="email" name="email" placeholder="{{email}}" value="{{email}}"class="validate">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <p>telefone</p>
          <input class="validate" type="text" name="telefone" placeholder="{{telefone}}" value="{{telefone}}">
          <button type="submit">Editar usuarios</button>
        </div>
      </div>
      </div>
    </form>
  </div>

