
<form action="/editado/{{id}}" method="post">
  <p>NOME: </p>
  <input type="text" name="nome" placeholder="{{nome}}" value="{{nome}}">
  <p>email:</p>
  <input type="email" name="email" placeholder="{{email}}" value="{{email}}">
  <p>telefone</p>
  <input type="text" name="telefone" placeholder="{{telefone}}" value="{{telefone}}">
  <button type="submit">Editar usuarios</button>
</form>

